<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558362253125-5rsv0ks6vv4rhhtanp2fmacvrfjuq6fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558362253125-5rsv0ks6vv4rhhtanp2fmacvrfjuq6fc</string>
	<key>API_KEY</key>
	<string>AIzaSyDuipjvIa5J_UNrMw60uY6eiKtF6GIL7Uk</string>
	<key>GCM_SENDER_ID</key>
	<string>558362253125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tokopedia.tokopedia</string>
	<key>PROJECT_ID</key>
	<string>tokopedia-b3552</string>
	<key>STORAGE_BUCKET</key>
	<string>tokopedia-b3552.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558362253125:ios:2cd627d9ec64ed84ed102c</string>
</dict>
</plist>